Repository torian12321/typescript-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, TS rules ðŸ“˜, github actions

feat: add CI process
  .github/workflows/CI.yml
Labels: github actions

test
  src/vite-react.json
Labels: TS rules ðŸ“˜

feat: add CI process
  .github/workflows/CI.yml
Labels: github actions

test
  README.md
Labels: documentation

feat: add CI process
  .github/workflows/CI.yml
Labels: github actions

demo
  README.md
Labels: documentation

feat: add CI badge
  README.md
Labels: documentation

feat: release workflow
  .github/workflows/release.yml
Labels: github actions

feat: update version
  package.json
Labels: none

feat: update version
  .github/workflows/release.yml
Labels: github actions

update doc
  README.md
  package.json
Labels: documentation

add release tag
  README.md
Labels: documentation

ref: change branch relation from 'main' to 'master'
  .github/workflows/CI.yml
  .github/workflows/release.yml
  README.md
Labels: documentation, github actions

doc: rename USAGE.md file
  README.md
  docs/USAGE.md
  docs/assets/ts-config.drawio
  docs/assets/ts-config.drawio.svg
Labels: documentation

doc: update CI rules
  .github/workflows/CI.yml
  .npmrc.example
Labels: github actions

update exports
  package-lock.json
  package.json
Labels: none

update exports
  docs/USAGE.md
Labels: documentation

chore: update packages
  .github/workflows/CI.yml
  .nvmrc
  docs/PUBLISH_STEPS.md
  package-lock.json
  package.json
Labels: documentation, github actions

feat: add folders to exclude
  src/base.json
Labels: TS rules ðŸ“˜

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: [
    '**/*.md',
    '**/*.mdx'
  ]

TS rules ðŸ“˜:
- changed-files:
  - any-glob-to-any-file: ['./src/**/*']

github actions:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']
